MAS/CMakeFiles/
MAS/CMakeCache.txt
MAS/MASPass/CMakeFiles/
default.profraw 
*_prof 
*_optim 
*.bc 
*.profdata 
*_output 
*.ll 
*_NaivePass
*_MASBasedPass
*_masbased-pass 
*_naive-pass
.vscode/
Spindle/
build